PORT=3000
REACT_APP_API_BASE_URL=http://localhost:4000/api
REACT_APP_PUBLIC_BASE_URL=http://localhost:3000
REACT_APP_EMAIL_ENABLED=false
REACT_APP_EMAIL_FROM=orders@example.com
REACT_APP_SUPPORT_EMAIL=support@example.com
REACT_APP_EMAIL_FUNCTION_TOKEN=
REACT_APP_RECAPTCHA_SITE_KEY=
